.style {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.jumbotron-fluid {
    padding-bottom: 100px;
    background-image: url("../images/keep.png");
    background-size: cover;
}

.navbar {
    padding-bottom: 20px;
}

.row {
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E9DDDB;
}

.title{
    justify-content: center;
}

