<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="asset{{('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')}}"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Blog</title>
</head>

<body>

    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Title : </label>
            <input type="text" name="title" id="title">
        </div>
        <div class="form-group">
            <label for="author">Author : </label>
            <input type="text" name="author" id="author">
        </div>
        <label for="content">Content : </label>
        <input type="text" name="content" id="content" height="250px" width="50px">
        <label for="content">imgPath : </label>
        <input type="text" name="imgPath" id="imgPath" height="250px" width="50px">

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>