<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{asset('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')}}"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{asset('./css/blog.css')}}">
    <link href="{{asset('https://fonts.googleapis.com/css?family=Montserrat&display=swap')}}" rel="stylesheet">
    <title>Blog</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{path('blog')}}">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <li class="nav">
            <a class="navbar-brand" href="#">Tous les articles</a>
        </li>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{path('add-article')}}">Ajouter un
                        article</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="display-4 d-flex justify-content-center"></h1>
            <p class="lead d-flex justify-content-center"></p>
        </div>
    </div>
    <div class="row">
        {% for item in postTab %}
        <div class="col-4 ">
            <div class="card style d-flex justify-content-center">
                {{item.title}}
            </div>
            <div>
                <img src="{{item.imgPath}}" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <p>{{item.author}} Date:{{item.postDate|date('Y-m-d')}}</p>
                <p class="card-text">{{item.content}}</p>
                <a href="{{path('one_post', {id:item.id})}}" class="card-link">Show post</a>
                <a href="{{path('deletepost', {id:item.id})}}" class="card-link">Delete post</a>
            </div>

        </div>
        {% endfor %}
    </div>



</body>

</html>