<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>One Post</title>
    <link rel="stylesheet" href="{{asset('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')}}"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

    <div class="container-fluid">
        
        <a href="{{path('form_person')}}">Add Post</a>
        <h1>Posts list</h1>
        <div class="row">
            
            
            <div class="col-3 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> {{post.title}} </h5>
                        
                       
                        <a href="">{{item.id}}</a>

                    </div>
                </div>
            </div>
            
        </div>
    </div>




</body>

</html>