<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{asset('./css/blog.css')}}">
    <title>Add Article</title>
</head>

<body>

    {# {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
    <button>Add article</button> #}

</body>

</html>